---
---
@charset "utf-8";

// Variables
$font: caption;
$base-font-size:    18px;
$base-line-height:  1.5;
$small-font-size:   $base-font-size * 0.875;
$base-font-weight:  300;
$strong_weight:     400;

$spacing-unit:     40px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      red;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;


// Import partials
@import
  "cmq",
  "base",
  "blockquotes",
  "header",
  "footer",
  "post",
  "page",
  "layout"
;
