_site
.sass-cache
.jekyll-metadata
__OLD/
__LAB/

__LAB
___lab/.DS_Store
_includes/.DS_Store
_includes/svg/.DS_Store
_sass/.DS_Store
assets/.DS_Store
assets/ai/.DS_Store
assets/i/.DS_Store
assets/pdf/.DS_Store
