---
layout: default
---

<div class="home">



    <img src="assets/i/mapping_with_phone.jpg" alt="crowdsourcing images" />


  <div class="wrapper">

    <h1 class="page-heading">Contests</h1>

    <ul class="post-list">
      {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.from | date: "%b %-d, %Y" }}</span> > <span class="post-meta">{{ post.to | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endfor %}
    </ul>

    <div class="intro_text">

      <blockquote cite="http://beyondcittastudi.org" class="odd">
        {% include svg/quote_Q_left.svg %}
        <h3>Mappatura, Ricerca e Creazione... crowdsourced!</h3>
      </blockquote>

      <blockquote cite="http://beyondcittastudi.org" class="even">
        <h3>Fatta con social media, gambe e telefono!</h3>
        {% include svg/quote_Q_right.svg %}
      </blockquote>

      <blockquote cite="http://beyondcittastudi.org" class="odd">
        {% include svg/quote_Q_left.svg %}
        <h3>Il futuro dei campus ha bisogno di te!</h3>
      </blockquote>

      <blockquote cite="http://beyondcittastudi.org" class="even">
        <h3>Facciamo una mappa fotografica aggiornata di Città Studi, oggi... adesso.</h3>
        {% include svg/quote_Q_right.svg %}
      </blockquote>

    </div>

  </div>

</div>
