<div class="intro_text">

  <blockquote cite="http://beyondcittastudi.org" class="odd">
    <h3>Mappatura, Ricerca e Creazione... crowdsourced!</h3>
  </blockquote>

  <blockquote cite="http://beyondcittastudi.org" class="even">
    <h3>Fatta con social media, gambe e telefono!</h3>
  </blockquote>

  <blockquote cite="http://beyondcittastudi.org" class="odd">
    <h3>Il futuro dei campus ha bisogno di te!</h3>
  </blockquote>

  <blockquote cite="http://beyondcittastudi.org" class="even">
    <h3>Facciamo una mappa fotografica aggiornata di Città Studi, oggi... adesso.</h3>
  </blockquote>

</div>
