// Blockquotes - classic

blockquote {
  margin-left: $spacing-unit / 2;
  color: red;
  border-left: 4px solid red;
  padding: $spacing-unit / 2;
  font-size: 18px;
  line-height: 1.25;
  font-style: italic;

  > :last-child {
      margin-bottom: 0;
  }
  &.black {
    color: black;
    border-left: 4px solid black;
  }
  &.right {
    text-align: right;
    border-left: 0 none;
    border-right: 4px solid black;
    padding-right: $spacing-unit / 2;
    margin-right: $spacing-unit / 2;
  }

}


blockquote > * {
  font-weight: lighter;
  letter-spacing: normal;
}
