// Site footer
.site_footer {
  position: relative;
  z-index: 1;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  padding-top: $spacing-unit * 2;
  a {color: $black;}
  p {margin-bottom: $spacing-unit/8; }
}


.footer_heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact_list,
.social_media_list {
    list-style: none;
    margin-left: 0;
}

.footer_col_wrapper {
  overflow: hidden;

  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  @include media( "screen", ">bp1Width") {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  padding-top: $spacing-unit * 2 ;
  background-color: white;
  border: 4px solid black;
  outline:8px solid white;

  font-size: 15px;
  color: $black;
}

.footer_col {
    margin-bottom: $spacing-unit ;
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
}

.footer_col_1 {
  text-align: justify;
  @include media( "screen", ">bp1Width") {
    min-width: 250px;
    max-width: 350px;
  }
}

.footer_col_2 {
  min-width: 250px;
  img {max-width: 170px;}
}

.footer_col_3 { min-width: 250px; }

.contact_list li{ text-align: center; }

.top_logo {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: calc(50% - 60px);
  svg {
    background-color: $white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 0;
    padding: 2px;
  }
}
