//Site header

.site_header {
  min-height: 300px;
  position: relative;
  left: 100px;
  width: calc(100% - 100px);
  z-index: 1;
  .wrapper {
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.site_title {// <a>
  width: auto;
  position: absolute;
  right:0;
  z-index: 1;
  margin-bottom: 1rem;

  font-size: $viewport_sized_L;
  font-weight: 200;
  line-height: 1.2;
  color: $black;
  &:hover { color: $black; }

  @include media( "screen", ">minWidth") {font-size: $viewport_sized_M;}
  @include media( "screen", ">bp1Width") {font-size: $viewport_sized_S;}
  @include media( "screen", ">maxWidth") {font-size: 2.75rem;}

  p {
    background-color:$black;
    color:$white;
    padding: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 4;
    &.a {font-weight: 400;}
    &.b {
      color:$black;
      background-color:$white;
      span {
        display: block;
        font-size: 75%;
        line-height: 1.1;
        font-weight: $strong_weight;
      }
      small {
        margin-top: 4px;
        display: block;
        font-size: 50%;
        line-height: 1.2;
        font-weight: 300;
      }
    }
  }
}




.site_nav {
  display: none;
  
  position: absolute;
  z-index: 2;
  top: 250px;
  right: $spacing-unit / 2;

  background-color: $black;
  color: $brand_color;
  text-align: right;
  line-height: 5;

  .page_link {
    color: $white;
    line-height: $base-line-height;
    // Gaps between nav items, but not on last one
    &:not(:last-child) { margin-right: 20px; }
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .menu_icon {
    display: block;
    float: right;
    width: 48px;
    height: 48px;
    line-height: 0;
    margin-top: 0;
    text-align: center;

    > svg {
      margin-top: 12px;
      width: 24px;
      height: 24px;
      path { fill: $white; }
    }
  }

  .trigger {

    clear: both;
    display: none;
  }

  &:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }




}
