//layout
.qr {
  margin: .5rem 0 1rem 0;
  max-width: 130px;
}

.intro_text {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 2rem auto;
  padding-bottom: 2rem;
  img { padding-bottom: 1rem; }
}

.map_wrap {
  background-color: $brand_color;
  max-width: 100vw;
  overflow: hidden;
  opacity: 1;
  position: fixed;
  top: 0;
  z-index: 0;
}

.home svg {
  position: relative;
  z-index: 1;
  max-width: 700px;
  margin-left: 0;
  @include media( "screen", ">minWidth") {
    margin-left: 20%;
  }
}


.layout_post.page_content {
  border-right: 10vw solid $brand_color;
}

.layout_page.page_content {
  border-left: 10vw solid $brand_color;
}

.homepage .home {
  border-left: 6vw solid transparent;
  border-right: 6vw solid transparent;
}
